body {
  margin: 0;
  padding: 8px 12px;
}

.skillContainer {
  display: flex;
  flex-wrap: wrap;
}

.skillsContainer div {
  margin-right: 10px;
}

.skillsContainer h1 {
  display: block;
}

.skillPiece {
  margin: 5px;
  display: inline-block;
  background-color: grey;
  color: whitesmoke;
  padding: 8px 12px;
  ;
  border-radius: 20px;
}

.skillXBtn {
  background: none;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

header,
footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(88, 86, 86);
  color: white;
  padding: 1em 1.5em;
}

header a {
  color: white
}